<% provide(:title, "About") %>
<h1>About page</h1>
<p>
  This website will eventually contain all sorts of information about airports.
  It might even provide functionality similar to the <a href="http://www.gcmap.com/">Great Circle Maper</a>.
</p>