<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This website was created in Spring 2021 by Ben Mikek. Some of its functionality was inspired by <a href="http://www.gcmap.com/">Great Circle Maper</a>;
  its development has also been informed by a variety of personal projects (mostly in C#) and a passionate interest in learning more about aviation.
</p>

<figure style="text-align:center">
    <%= image_tag("level.png", :height => 500, alt: "Side view of Level Airbus A321") %> 
    <figcaption>An A321 of Level in October 2019 at Vienna International Airport. ©2019 Ben Mikek</figcaption>
</figure>