<% provide(:title, "Home") %>
<h1>Home</h1>
<h3>  Welcome to the aviation site!</h3>
<p>
  The purpose of this site is to provide a user-editable database of airports, and to give you the ability to make calculations and learn more about airports and aviation.
  Use the distance calculator to compute the length of a path traveled while flying through a number of airports. If your local airport is not yet included in the database,
  you can add it in the Add Airport tab. You can also see a list of airports, and learn a bit more about airport codes.
</p>