<!DOCTYPE html>
<html>
  <head>
    <title>Info | My Testing Project</title>
  </head>
  <body>
    <h1>Info page</h1>
    <p>
      Can you guess which airport is YYZ? This website will eventually be able to help with that.
    </p>
  </body>
</html>
