<% provide(:title, "Info") %>
<h1>Info</h1>
<p>
  Have you ever wondered about the three- and four- letter codes used to identify airports (mostly by airlines, and pilots, respectively)? This page gives a quick
  background on those codes.
</p>
<h2> IATA codes and ICAO codes</h2>
<p>
The <a href=https://www.iata.org/ >International Air Transport Association</a> (IATA) is the industry representative for airlines around the world. It assigns 3-character codes
to airports (and cities, a few trains stations, and some other areas of interest). These codes are assigned primarily to airports which have commercial service; they always consist
of exactly three latin letters. The <a href=https://www.icao.int >International Civil Aviation Organization</a> (ICAO) is a United Nations body which assigns four-character codes
to airports around the world. The prefixes of these codes reflect the location of the airport (for example, any code starting with K) is located in the United States, and any
code starting with Z corresponds to an airport in China. Airports don't need to have commercial service to be assigned an ICAO code, and a few ICAO codes contain numbers,
in addition to latin letters. There are many airports which have an ICAO code, but no IATA code, but there are just a handful of airports with an IATA code but no ICAO code.
</p>